[Desktop Entry]
Comment=Use WPS Spreadsheets to analyze manage data.
Comment[zh_CN]=\u4f7f\u7528WPS\u8868\u683c\u5206\u6790\u3001\u7ba1\u7406\u6570\u636e
Comment[de_DE]=WPS Anwendung für Kalkulationstabellen zur Analyse von Verwaltungsdaten.
Exec=firejail /usr/bin/et %F
GenericName=WPS Spreadsheets
GenericName[zh_CN]=WPS \u8868\u683c
GenericName[de_DE]=WPS Tabellenkalkulation
MimeType=application/wps-office.et;application/wps-office.ett;application/wps-office.ets;application/wps-office.eto;application/wps-office.xls;application/wps-office.xlt;application/vnd.ms-excel;application/msexcel;application/x-msexcel;application/wps-office.xlsx;application/wps-office.xltx;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
Name=WPS Spreadsheets
Name[zh_CN]=WPS \u8868\u683c
Name[de_DE]=WPS Tabellenkalkulation
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;Spreadsheet;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office2019-etmain
InitialPreference=3
StartupWMClass=et
