[Desktop Entry]
Comment=WPS Writer für die Büroarbeit verwenden.
Comment[de_DE]=Arbeiten Sie mit WPS 2020
Exec=firejail /usr/bin/wps %F
GenericName=WPS
GenericName[de_DE]=WPS 2020
Name=WPS 2019
Name[de_DE]=WPS 2019
StartupNotify=false
Terminal=false
Type=Application
Categories=Office;WordProcessor;Qt;
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
Icon=wps-office2019-kprometheus
InitialPreference=3
StartupWMClass=wps
